version: 2

jobs:
  build:
    docker:
      - image: circleci/node:6.11

    steps:
      - checkout
      - run:
          name: "Add token to npmrc for publishing packages"
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
      - run:
          name: "Publish package"
          command: |
            if [ "$CIRCLE_BRANCH" == "master" ]; then
              echo "Trying to publish package, if it fails then this verison has already been published."
              set +e
              npm publish .
              set -e
            else
              echo "Packages are only published to npm on branch 'master'."
            fi
            exit 0
